* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(21,768,351)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	.wrapper {
		width: 500px;

		box-shadow: 0 0 10px;
		background-color: rgb(255, 255, 255);
		margin: 45px;
		border-radius: 5px;
		form {
			border: 2px solid rgb(149, 149, 149);
			margin: 15px;
			padding: 35px;
			font-size: 16px;
			border-radius: 5px;

			h1 {
				font-family: 'Patrick Hand', cursive;
				position: relative;
				padding: 0 32px;
				text-align: center;
				margin-bottom: 50px;
				margin-top: 10px;
				color: rgb(33, 115, 109);
			}

			.data-box {
				margin-bottom: 18px;
				#phone::-webkit-inner-spin-button,
				#phone::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}

				label {
					display: inline-block;
					margin-bottom: 6px;
				}
				input {
					display: block;
					margin: 0 auto;
					padding: 5px;
					width: 90%;
					margin-bottom: 6px;
					font-size: 16px;
					border: none;
					border-bottom: 2px solid rgb(33, 115, 109);
				}
				input:focus {
					outline: none;
					box-shadow: 0 0 0 3px rgba(34, 114, 109, 0.25);
				}
				.bug-text {
					text-align: center;
					font-size: 15px;
					color: hsl(0, 86%, 28%);
					visibility: hidden;
				}
			}
			.pass-container {
				width: 100%;
				position: relative;
				.fa-eye,
				.fa-eye-slash {
					position: absolute;
					top: 30px;
					right: 13px;
					font-size: 18px;
					padding: 5px;
					cursor: pointer;
				}
				.fa-eye:hover,
				.fa-eye-slash:hover {
					color: rgb(30, 169, 118);
				}
			}
			.data-box.bug input {
				background-color: rgba(46, 122, 117, 0.15);
			}
			.data-box.bug .bug-text {
				visibility: visible;
			}
			.checkbox {
				margin: 20px 0;
				.checkbox-text {
					padding: 0 5px;
					font-weight: bold;
					color: rgb(57, 57, 60);
				}
				.bug-text {
					padding-left: 23px;
					font-size: 15px;
					color: rgb(133, 10, 10);
					visibility: hidden;
				}
			}
			.checkbox.bug .checkbox-text {
				text-decoration: underline;
				color: rgb(133, 10, 10);
			}
			.checkbox.bug .bug-text {
				visibility: visible;
			}
			.buttons-box {
				width: 100%;
				height: 100px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				button {
					margin: 0 5px;
				}
			}
			.popup {
				position: absolute;
				top: 330px;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0;
				height: 0;
				background-color: rgb(255, 255, 255);

				box-shadow: 0 0 10px;
				border-radius: 8px;
				transition: top 0.6s;
				.popup-wrapper {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					opacity: 0;
					.confirm {
						text-align: center;
						font-weight: bold;
					}
					.close-popup {
						margin: 15px 0;
					}
				}
			}
			.active-popup {
				animation: popup 1.5s ease-in-out forwards;

				.popup-wrapper {
					opacity: 1;
					transition: all 0.3s ease-in-out 1.5s;
				}
			}

			button {
				padding: 8px 20px;
				border-radius: 8px;
				border: 3px solid rgb(30, 169, 118);
				font-size: 16px;
				background: none;
				color: rgb(3, 3, 3);
				cursor: pointer;
				transition: background-color 0.5s;
			}
			button:focus {
				outline: none;
				box-shadow: 0 0 0 3px rgba(34, 114, 109, 0.25);
			}
			button:hover {
				background-color: rgba(30, 169, 118, 0.632);
				border: 3px solid transparent;
				color: rgb(255, 255, 255);
			}
			button:hover i {
				background: transparent;
				color: rgb(255, 255, 255);
			}
			i {
				color: rgb(34, 114, 109);
				margin-right: 10px;
				background: transparent;
			}
		}
	}
	.link {
		height: 25px;
		margin: 10px;
		background-color: red;
		a {
			text-decoration: none;
			color: black;
			font-size: 15px;
		}
	}
}

@keyframes popup {
	0% {
		width: 0;
		height: 0;
	}
	50% {
		width: 640px;
		height: 2px;
	}
	100% {
		width: 640px;
		height: 370px;
	}
}

@media (min-width: 375px) {
	body {
		.wrapper {
			form {
				.popup {
					width: 365px;
				}
			}
		}
	}
}

@media (min-width: 568px) {
	body {
		.wrapper {
			form {
				.popup {
					width: 540px;
				}
				button {
					width: 120px;
					height: 50px;
				}
			}
		}
	}
}
